:root {
  --red: #ff007b;
  --dark-red: #600010;
}

html {
  background: #000;
  color: #fff;
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
}

body {
  margin: 0;
}

.dev-panel {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.countdown-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: clamp(20px, 3vw, 26px);
  opacity: 0;
  animation: 2s 2s fadein forwards;
  pointer-events: none;
  text-shadow: 0 0 1px #000, 0 0 20px #000, 0 0 20px #000;
  filter: url(#rgb-split) blur(0.4px);

  @media (orientation: portrait) {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .t1 {
    font-size: 1.8em;

    &.mv-1 {
      margin: 1em 0;
      font-size: 1.8em;

      @media (orientation: portrait) {
        margin: 0 1em;
      }
    }
  }

  .t2 {
    font-size: 2.2em;

    @media (orientation: portrait) {
      display: flex;
      align-items: flex-end;
    }

    span {
      display: inline-block;
      width: 1em;
      font-size: 2em;
      text-align: center;
      border-bottom: 3px solid #ff007b;
      writing-mode: initial;
      text-orientation: initial;

      @media (orientation: portrait) {
        margin-top: 0.2em;
        height: 0.8em;
        border-right: 3px solid #ff007b;
        border-bottom: 0;
      }
    }
  }

  .t3 {
    font-size: 3em;

    & > div {
      font-size: 1.4em;
      text-indent: -0.25em;
    }
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }      
}

.audio-switch-btn {
  position: fixed;
  right: 32px;
  bottom: 32px;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  transition: transform 0.4s, filter 0.4s;

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 10px #fff);
  }
}
